* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Chillax', sans-serif;
}



/* colors */

.bg-primary{
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(70,101,252,1) 93%);   
}

.bg-secondary{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}


/* navbar */

.navbar {
    transition: 0.5s;
}

.navbar-scroll {
    margin: 2vh;
    border-radius: 15px;
    transition: 0.5s;
}

/* Articles page */

.article-page-title {
    font-size: 5vw;
    margin: 0;
}


/* Articles */

.article-body{
    position: relative;
    margin: 2vh;
    height: 30vh;
    width: 23vh;
    border-radius: 10px;
}

.article-name , .article-category{
    text-align: center;
}


.article-price{
    position: absolute; /* Posiziono l'elemento in modo assoluto rispetto al body della card */
    bottom: 0;
    right: 20px;
}


/* Homepage */

.home-title {
    font-size: 7vh;
}

.home-subtitle {
    font-size: 4vh;
}

.home-article-btn {
    text-decoration: none; /* rimuovo il sottolinea */
    text-align: center; /* centro il testo del bottone */
    color: black;
    width: 30vh;   
    border: none;
    border-radius: 15px;
    padding: 2vh;
}

.custom-container{
    width: 100%;
    height: 100vh;
    overflow-y: scroll; /* Abilito lo scorrimento verticale */
    scroll-snap-type: y mandatory; /* Abilito lo snap allo scorrimento verticale */
}

.slides{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start; /* Allinea l'inizio di ogni slide con l'inizio del contenitore durante lo scorrimento */
}

.slide-1{
    color: antiquewhite;
}

.slide-2{
    background-image: url(/backgrounds/bg1.png);
    background-size: cover; /* Imposto l'immagine di sfondo in modo tale che copra l'intera area della slide */
    background-repeat: no-repeat; /* Impedisco la ripetizione dell'immagine di sfondo */
    gap: 100px;
}

.slide-3{
    background: linear-gradient(454deg, #d146a7, #9553ff);
    gap: 100px;
}

.background-video {
    position: absolute; /* Posiziono l'elemento in modo assoluto rispetto al primo antenato posizionato, ovvero il contenitore section della prima slide */
    width: 100%;
    height: 100%;
    object-fit: cover; /* Assicura che il video copra l'intera area senza distorsioni */
    z-index: -1; /* Posiziona il video dietro al contenuto */
}

.img-slide{
    width: 500px;
    height: 500px;
}




